# Flask Configuration
FLASK_DEBUG=false
FLASK_ENV=production

# Database
DATABASE_URL=

# Render Deployment
RENDER=true

# Project B API URL (để gửi dữ liệu trúng tuyển)
# Local: http://localhost:3000
# Production: https://hr.fct.vn
B_API_URL=https://hr.fct.vn
